@model AdminEcom.Models.Login
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="login-container">

        <div class="login-box animated fadeInDown">
            <div class="login-logo"></div>
            <div class="login-body">
                <div class="login-title"><strong>Welcome</strong></div>
                <form action="index.html" class="form-horizontal" method="post">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="~/Home/Register" class="btn btn-link btn-block">Sign Up</a>
                        </div>
                        <div class="col-md-6">
                            <input type="submit" value="Login" class="btn btn-info btn-block" />
                        </div>
                    </div>
                </form>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <div class="login-footer">
                <div class="pull-left">
                    &copy; 2018 Our Project
                </div>
            </div>
        </div>

    </div>
}