@model MVC8amMonsoonBatch.Models.EmpDeptDetail
@{
    ViewBag.Title = "CustomizeModel";
}

<h2>CustomizeModel</h2>

@Model.emp.EmpId<br />
@Model.emp.EmpName<br />
@Model.emp.EmpSalary<br />

<br />

<br />

@Model.dep.DeptId<br />
@Model.dep.DeptName<br />

